/* 
    Created on : 15.06.2018, 11:46
    Author     : eichp
*/
body.modal-open {
  overflow-y: scroll !important;
  margin: 0 !important;
}
.modal {
  overflow: auto !important;
}
body {
  background: white;
}
#lsalerttextlsstatus,
div[id*='datepickerist'] .datepicker_zeit,
div[id*='datepickersoll'] .datepicker_zeit {
  z-index: 1600 !important;
  /* has to be larger than 1050 */
}
#hierbinichmenu a,
#hierbinich a,
#hier a {
  color: #e6e330;
}
#hierbinichmenu .dropdown-menu > #hierbinich a {
  color: #e6e330;
}
#hierbinichmenu .dropdown-menu > li > a {
  color: #333;
}
.cat-delete {
  display: inline;
}
.userwelcome {
  text-align: right;
}
div[id*='modal-form'] .modal-title {
  font-size: 1em;
  margin: 0 1em;
}
div[id*='modal-form'] .btnliste {
  margin: 0.2em 0;
}
button[id*='btndetails'] {
  color: #31708f;
}
div[id*='tempalarm'] {
  color: #e6e330;
  font-size: 0.8em;
  font-style: italic;
  text-align: right;
}
#search-results {
  width: 195px;
  background-color: white;
  position: absolute;
  z-index: 1600 !important;
  /* has to be larger than 1050 */
}
#search-results table {
  border: 1px solid black;
}
#search-results td {
  padding: 5px;
}
#search-results a {
  text-decoration: none;
}
#search-results tr:hover {
  background-color: lightgray;
}
ul.auswahl {
  list-style-type: none;
}
ul.auswahl li {
  margin: 0.5em 0;
}
.btn-list {
  margin: 0.2em 0;
}
.modal-header {
  border-radius: 6px 6px 0 0;
}
.lspos-list {
  border-bottom: solid 2px #D9EDF7;
  margin-top: 0.5em;
}
/*.navbar-inverse {
    background-color: #72817e;
    border-color: #bdbfbe;
}*/
.navbar-default {
  background-color: #ebebed;
  border-bottom-width: 2px;
  border-bottom-color: #e6e330;
}
.well-sm {
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}
.well-sm .form-group,
.lspos-list .form-group {
  margin-bottom: 0;
}
.table.dataTable thead .sorting_desc {
  background-image: none !important;
}
.table > thead > tr > th {
  vertical-align: top;
}
td.details-control {
  background: url('../../img/plus.png') no-repeat center center;
  cursor: pointer;
}
tr.shown td.details-control {
  background: url('../../img/minus.png') no-repeat center center;
}
div.slider {
  display: none;
}
button.btn {
  margin-bottom: 0.2em;
  text-align: left;
}
button.noeffect {
  cursor: not-allowed;
}
button.noeffect.btn-danger:focus,
button.noeffect.btn-danger:hover {
  background-color: #d9534f;
  border-color: #d43f3a;
}
button.noeffect.btn-primary:focus,
button.noeffect.btn-primary:hover {
  background-color: #337ab7;
  border-color: #2e6da4;
}
button.noeffect.btn-success:focus,
button.noeffect.btn-success:hover {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
button.noeffect.btn-warning:focus,
button.noeffect.btn-warning:hover {
  background-color: #f0ad4e;
  border-color: #eea236;
}
